<xml>
<ToUserName><![CDATA[<%= @to %>]]></ToUserName>
<FromUserName><![CDATA[<%= @from %>]]></FromUserName>
<CreateTime><%= DateTime.to_unix(DateTime.utc_now) %></CreateTime>
<MsgType><![CDATA[<%= @msgtype %>]]></MsgType>
<Image>
<MediaId><![CDATA[<%= @media_id %>]]></MediaId>
</Image>
</xml>
