<xml>
<ToUserName><![CDATA[<%= @to %>]]></ToUserName>
<FromUserName><![CDATA[<%= @from %>]]></FromUserName>
<CreateTime><%= DateTime.to_unix(DateTime.utc_now) %></CreateTime>
<MsgType><![CDATA[<%= @msgtype %>]]></MsgType>
<Content><![CDATA[<%= @content %>]]></Content>
</xml>
