<xml>
<ToUserName><![CDATA[<%= @tousername %>]]></ToUserName>
<FromUserName><![CDATA[<%= @fromusername %>]]></FromUserName>
<CreateTime><%= @createtime %></CreateTime>
<MsgType><![CDATA[<%= @msgtype %>]]></MsgType>
<Video>
<MediaId><![CDATA[<%= @video.mediaid %>]]></MediaId>
<Title><![CDATA[<%= @video.title %>]]></Title>
<Description><![CDATA[<%= @video.description %>]]></Description>
</Video>
</xml>
